// Start Global Rules
$main-Color: #0ee67a;
// Define the new background color variable
$navbar-bg-color: #919ca6;

// Override the navbar styles
.navbar {
  &.navbar-light {
    &.bg-light {
      background-color: $navbar-bg-color !important;
    }
  }
}

html {
  direction: rtl;
}

.logo {
  width: 70px;
  height: 70px;
}

.mainSection {
  .carousel {
    height: 80vh;

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;
      }
    }
  }
}

.about-us {
  .box {
    display: flex;
    background: #fff;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1.5rem;

    .icon {
      img {
        width: 50px;
      }
    }

    .info {
      padding: 10px 20px;

      h3 {
        color: $main-Color;
      }

      p {
        line-height: 1.5;
        color: #9e9e9e;
      }
    }
  }
}

.our-vision {
  .box {
    .header {}

    .content {
      background: #bcccdd;
      align-items: center;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 1.5rem;
      box-shadow: 2px 2px 10px #ccc;

      p {
        line-height: 1.5;
        color: #9e9e9e;
      }
    }
  }
}

.values-section {
  background-color: #f8f9fa;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: space-around;
}

.values-section h2 {
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.values-section .value-box {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.values-section .value-box h3 {
  color: #343a40;
  margin-bottom: 10px;
}

.values-section .value-box p {
  color: #6c757d;
  font-size: 1em;
}

.services-section {
  background-color: #f8f9fa;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: space-around;
}

.services-section h2 {
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.service-card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card h3 {
  color: #343a40;
  margin-bottom: 10px;
}

.service-card p {
  color: #6c757d;
  font-size: 1em;
}

.partners-section {
  background-color: #f8f9fa;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.partners-section h2 {
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.partner-card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  margin: auto;
}

.partner-card img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}